*.log
*.logs
*.log.*
*.logs.*
*.id
*.id.*
*.cache.*
*.cache
*.tmp
*.swp
*.bak
*.backup
*.git
*.env
*.DS_Store
*.db
*.sqlite
*.sqlite.*
*.sqlite3
*.sqlite3.*
*.lock
*.lock.*
*.html

# Project agent logs are stored in jsonl
*.jsonl

.vscode/
node_modules/
dist/
build/

cache/
.timelines/
file-history/
debug/
todos/
session-env/
shell-snapshots/
statsig/
ide/
plans/
plugins/marketplaces
plugins/repos
ccline/
configbackups/
downloads/
hooks/approve-compound-commands
image-cache/
leaderboard.json
package.json
paste-cache/
plugins/install-counts-cache.json
stats-cache.json
count_tokens.js
tasks/
paste-cache/
projects/
usage-data/

**/.pytest_cache/
**/__pycache__/
**/.mypy_cache/
**/.coverage
**/.coverage.*
**/logs
**/state
**/.state

**/*.zip
